html {
  box-sizing: border-box;
  margin: 0;
  font-size: 16px;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

body {
  box-sizing: inherit;
  width: 100%;
  margin: 0;
}

#main-doc {
  width: 78%;
  min-width: 320px;
  margin: 0 0 0 22%;
}

#navbar {
  width: 20%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

header {
  margin: 2.5rem auto 0 auto;
  font-size: 28px
}

.nav-header {
  margin: 1.5rem auto;
  font-size: 28px;
  text-align: center;
}

#navbar ul{
  height: 86%;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0;
  padding: 2rem auto 0 auto;
  list-style: none;
}

#navbar ul > li{
  margin-left: -2rem;
  padding: 1rem;
  border-top: 0.1rem solid;
  font-size: 18px;
}

.nav-link{
  text-decoration: none;
  color: rgb(95, 95, 95);
}


p, code, .main-section ul > li {
  color: rgb(95, 95, 95);
  margin-left: 2rem;
  margin-right: 2rem;
}

code {
  width: 90%;
  display: flex;
  background-color: #eee;
  border-radius: 3px;
  border: 10px solid #eee;
  font-family: courier, monospace;
  font-size: 14px;
  padding: 3px;
  margin-left: 2rem;
}

@media (max-width: 1024px) {
  #navbar {
    display: none;
  }
  
  #main-doc {
    width: 85%;
    margin-left: 3rem;
  }

  code {
    width: 92.5%;
  }
}